# Data Cleansing

In [101]:
import pandas as pd

pd.options.mode.chained_assignment = None

## Movies

In [102]:
movies_df = pd.read_csv('datasets/movies.csv')
movies_df

,id,name,date,tagline,description,minute,rating
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09
...,...,...,...,...,...,...,...
941592,1941593,神笛,NaN,NaN,NaN,NaN,NaN
941593,1941594,蟲極道蜜団子抗争編 壱ノ巻,NaN,NaN,Shinjuku forest at night. In the sap taverns o...,30.0,NaN
941594,1941595,蟲極道蜜団子抗争編 弐ノ巻,NaN,NaN,"The city that never sleeps, where insects gath...",30.0,NaN
941595,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN
941596,1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN

In [103]:
movies_df.dtypes

id               int64
name            object
date           float64
tagline         object
description     object
minute         float64
rating         float64
dtype: object

In [104]:
movies_df.columns

Index(['id', 'name', 'date', 'tagline', 'description', 'minute', 'rating'], dtype='object')

In [105]:
movies_df[movies_df.isna().any(axis=1)]

,id,name,date,tagline,description,minute,rating
34,1000035,Black Swan,2010.0,NaN,A journey through the psyche of a young baller...,108.0,4.15
68,1000069,Past Lives,2023.0,NaN,"Nora and Hae Sung, two childhood friends, are ...",106.0,4.18
133,1000134,Toy Story,1995.0,NaN,"Led by Woody, Andy's toys live happily in his ...",81.0,4.12
146,1000147,Requiem for a Dream,2000.0,NaN,The hopes and dreams of four ambitious people ...,102.0,4.10
162,1000163,Asteroid City,2023.0,NaN,Set in a fictional American desert town circa ...,105.0,3.52
...,...,...,...,...,...,...,...
941592,1941593,神笛,NaN,NaN,NaN,NaN,NaN
941593,1941594,蟲極道蜜団子抗争編 壱ノ巻,NaN,NaN,Shinjuku forest at night. In the sap taverns o...,30.0,NaN
941594,1941595,蟲極道蜜団子抗争編 弐ノ巻,NaN,NaN,"The city that never sleeps, where insects gath...",30.0,NaN
941595,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN
941596,1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN

In [106]:
movies_df.isna().sum()

id                  0
name               10
date            91913
tagline        802210
description    160812
minute         181570
rating         850598
dtype: int64

In [107]:
# removing NaN 'name' records
movies_df = movies_df[movies_df['name'].notna()]

In [108]:
# check if 'id' column have duplicate values
movies_df[movies_df["id"].duplicated()].shape[0]

0

In [109]:
# then set index as id
movies_df.set_index("id", inplace=True)

In [110]:
# TODO: typing columns